* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #ffa07a;
  --result-color: #8b0000;
  --footer-color: #daa520;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: var(--header-color);
}

#format {
  width: 100%;
  height: 80vh;
  padding: 30px 50px;
  margin: auto;
}

#format input[type="text"] {
  padding: 5px 20px;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 84%;
  box-shadow: 2px 2px 5px grey;
}

#format button {
  padding: 5px 0px;
  width: 14%;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 5px 7px grey;
  background-color: #8b0000;
  color: white;
  cursor: pointer;
}

.result{
  padding: 25px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 98%;
  box-shadow: 2px 2px 5px grey;
  display: none;

}

.result a{
    border: none;
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 5px;
    line-height: 25px;
  background-color: #8b0000;
  color: white;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  background-color: var(--footer-color);
}

/* responsive for media query  */

@media screen and (max-width: 1057px) {
  body {
    background-color: cadetblue;
  }

  #format input[type="text"] {
    width: 100%;
  }

  #format button {
    width: 100%;
    margin-top: 10px;
  }

  #format {
  width: 100%;
  height: 100vh;
}
}
